@mixin list {
  list-style: none;
  margin: 2rem 0;
  padding-left: 0;

  li {
    margin-top: 1rem;

    &::before {
      content: var(--li-before-content);
      font-size: 1.5rem;
      margin-right: 1.25rem;
    }
  }
}
