@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem;
}

section:not(:first-of-type) {
  margin-top: 2.5rem;
}

form {
  > :not(:first-child) {
    margin-left: 1rem;
  }

  input {
    margin-left: 0.25rem;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: 0.5rem;

  td {
    padding: 0.5rem;
  }

  button {
    margin-left: 0.5rem;
  }
}
